
{% extends 'base.html' %}

{% block content %}

    <section class="introduction">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <article class="card m-5">
                        <div class="card-header mb-2">
                            <h1 class="display-3">Keras-audio</h1>
                            <h3 class="text-muted"> Comparativa </h3>
                        </div>
                        <div class="card-body lead">
                            <p>Puedes acceder al notebook con la comparativa entre los dos modelos <a target="_blank" href="http://afrago-anaconda3-panotti.westeurope.cloudapp.azure.com:8888/notebooks/keras-audio/keras-audio/comparative.ipynb">aquí</a>.</p>


                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>


{% endblock %}